* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header{
    height: 100vh;
    background-image: linear-gradient(
            to bottom,
            rgba(1, 4, 32, 0.801),
            rgba(3, 8, 49, 0.801)
        ),
        url(../img/cover_bg_1.jpg);
    background-size: cover;
    background-position: top;
    position: relative; 
}

.logo-box{
    display: flex;
    justify-content:space-between;
    padding: 1.25rem;
}

.logo-box *{
    width: 4rem;
    height: 3rem;
    animation-name: scaleOut;
    animation-duration: 1s;
}

.icon-box-container{
    position: absolute;
    top: 55%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.icon-box{
    display: flex;
    justify-content: center;
}

.icon-box i{
    color: white;
    padding: .5rem 2rem;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}


.heading-primary{
    color: #fff;
    text-transform: uppercase;
}


.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400px;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    animation: moveInRight .8s ease-out; 
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    60%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes scaleOut{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
